:root {
  --color-bg-1: #22353c;
  --color-bg-2: #1c2a2f;
  --color-bg-3: #131f23;;
  --color-fg-1: #a5bbbd;
  --color-border: #37484e;
  --color-link-1: #70ccd3;
  --color-link-2: #a5bbbd;
  --size-content: 1600px;
}

body {
  font-family: sans-serif;
  margin: 0;
  background: var(--color-bg-2);
  color: var(--color-fg-1);
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

.wrapper {
  max-width: var(--size-content);
  margin: auto;
}

header {
  background: var(--color-bg-1);
  position: sticky;
  top: 0;
}

header a {
  color: var(--color-link-2);
}

header a:focus {
  outline: 1px solid red;
}

header > div,
header > div > div,
header nav,
header nav ul {
  display: flex;
  align-items: center;
}

header > div {
  justify-content: space-between;
  padding: 0 1em;
}

header nav img {
  width: 79px;
  margin-bottom: -3px;
}

header nav a {
  display: inline-block;
  padding: 1em 0.6em;
  font-size: 0.8em;
}

header nav a:hover {
  background: rgba(255,255,255,0.1);
}

header input {
  background: var(--color-bg-2);
  color: var(--color-fg-1);
  border: 1px solid var(--color-border);
  margin: 0 1em;
  padding: 0.4em 0.6em;
  width: 22em;
}

header input::placeholder {
  color: var(--color-fg-1);
}

header select,
header button[role="switch"],
header a {
  background: none;
  border: none;
  font-size: 0.9em;
  color: var(--color-link-1);
}

header select {
  font-size: 0.8em;
}

header option {
  color: var(--color-bg-1);
}

header button[role="switch"] {
  color: var(--color-link-2);
  margin: 0 1em;
}

header button[role="switch"] img {
  width: 0.9em;
  height: 0.9em;
}

header button[role="switch"][aria-checked="false"] img:last-of-type {
  display: none;
}

header button[role="switch"][aria-checked="true"] img:first-of-type {
  display: none;
}

header div > a:last-of-type {
  color: var(--color-bg-1);
  background: var(--color-link-1);
  padding: 0.2em 0.6em;
  border-radius: 2px;
  border: none;
}

header div > a:last-of-type {
  margin-left: 1em;
}

header + div {
  display: grid;
  grid-template-columns: 1fr 4fr;
  gap: 2em;
}

aside {
  padding-top: 1em;
}

aside a {
  margin: 1.4em 1em;
  color: var(--color-fg-1);
  display: block;
}

aside img {
  width: 118px;
}

aside ul:first-of-type {
  border-bottom: 1px solid var(--color-border);
}

main {
  line-height: 1.5em;
}

section {
  padding: 1em;
}

section:nth-child(2n) {
  background: var(--color-bg-3);
}

section:first-of-type ol {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 2em 0 1em;
  padding: 0;
  list-style: none;
  gap: 1em;
}

section:first-of-type li {
  border: 1px solid var(--color-border);
  padding: 2.4em 1em;
  border-radius: 3px;
  text-align: center;
}

section:not(:first-of-type) ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1em;
}

section:not(:first-of-type) li {
  background: var(--color-bg-1);
  padding: 1em;
  border-radius: 3px;
}

section:nth-child(5) ul {
  grid-template-columns: repeat(6, 1fr);
}

section:nth-child(5) img {
  width: 2rem;
  height: 2rem;
  display: block;
  margin: auto;
  margin-bottom: 0.4em;
}

section:nth-child(5) li {
  text-align: center;
  font-size: 0.9em;
}

section:nth-child(5) a:last-of-type {
  display: block;
  width: 14em;
  margin: 2em auto 1em;
  padding: 0.4em;
  text-align: center;
  color: var(--color-bg-1);
  background: var(--color-link-1);
  border-radius: 2px;
}

section:nth-child(6) {
  background: none;
}

footer,
footer > div:last-of-type {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer {
  background: var(--color-bg-3);
  flex-wrap: wrap;
}

footer img {
  width: 150px;
}

footer > a {
  margin: 1em;
}

footer a {
  color: var(--color-link-2);
}

footer ul {
  display: flex;
}

footer > div:first-of-type a {
  border: 1px solid var(--color-border);
  display: inline-block;
  margin: 1.6em 0.8em 1.6em 0;
  padding: 0.4em 1em;
  border-radius: 3px;
  font-size: 0.9em;
}

footer > div:last-of-type {
  width: 100%;
  background: rgba(0,0,0,0.3);
  font-size: 0.9em;
  padding: 0.4em 1em;
}

footer > div:last-of-type {
  font-size: 0.8em;
}

footer > div:last-of-type a {
  text-decoration: underline;
  margin-left: 0.5em;
}
